* {
  box-sizing:border-box;
}
body {
  margin: 0;
  padding: 0;

  font-size: 0;
  font-family: 'Electrolize', sans-serif;
  overflow: hidden; 
}

#page1 {
    position: relative;
    width: 100vw;
    height: 100vh;
    
}

h1 {
    font-family: 'Electrolize', sans-serif;
    font-size: 30px;
    position: absolute;
    color: silver;
    top: 5%;
    * {
      box-sizing: border-box;
    }
    body {
      margin: 0;
      height: auto;
      font-size: 0;
      font-family: 'Electrolize', sans-serif;
    }  left: 30%;
    z-index: 2;

    -webkit-text-stroke: 0.4vw rgba(93, 31, 127, 0.862);
    /* text-transform: uppercase; */

}

h1::before {
    content: attr(data-text);
    position: absolute;
    color: silver;
    -webkit-text-stroke: 0vw rgb(102, 48, 48);
    overflow: hidden;
    width: 100%;
    animation: animate 12s linear infinite;
}
@keyframes animate {
  0%,10%,100%
  {
    width: 0;
  }
  70% , 90%{
    width: 100%;
  }
}

h2 {
  font-family: 'Electrolize', sans-serif;
  font-size: 30px;
  position: absolute;
  color: silver;
  top: 21%;
  left: 4%;
  z-index: 2;
}

.container-portrait {
  width: 15%; /* Ändere die Breite des Portraits nach Bedarf */
  height: 20%; /* Ändere die Höhe auf 'auto', um das Seitenverhältnis beizubehalten */
  top: 4%; /* Ändere die Position nach Bedarf */
  left: 5%; /* Ändere die Position nach Bedarf */
  z-index: 1;
  position: absolute;
}
#foto {
  position: relative;
  bottom: 10%;
  height: 35vh;
  width: 100%;
  transform: translate(-10%, -10%);
  z-index: 1;
  transition: 8s linear;
}
p {
  font-family: 'Electrolize', sans-serif;
  font-size: 30px;
  position: absolute;
  color: silver;
  top: 60%;
  left: 4%;
  z-index: 1;
  transition:  5s ease-out;
}



 nav{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
  position: absolute;
  height: 10vh;
  width: 100vw;
  z-index: 1;
  
  
}

button{
  margin: 20px;
  color: silver;
  background-color: inherit;
  font-family: 'Electrolize', sans-serif;
  font-size: 15px;
  transform: translate(-10%, -10%);
  z-index: 1;
  transition: 8s ease-out;
}


#home-video {
  width: 100%;
  height: 100%;
  object-fit: fill;
  padding: 0;
  margin: 0;
}

.container-h1 {
  margin-bottom: 20px;
}

h1[data-text] {
  font-size: 2rem;
}

@media screen and (max-width: 768px) {
  /* Stil für die rechte Navigationsleiste auf kleinen Bildschirmen */
  #right-nav {
      flex-direction: column;
      align-items: center;
  }

  /* Stil für Navigations-Schaltflächen auf kleinen Bildschirmen */
  #right-nav button {
      margin: 5px 0;
  }
  h2 {
    top: 65%;
    left: 35%;
    font-size: 20px;
  }
  
  p {
    font-size: 30px;
    font-weight: bolder;
    top: 90%;
  }

}

@media screen and (max-width: 768px) {
  h1 {
    top: 3%; /* Ändere diese Zahl nach Bedarf für kleine Bildschirme */
    left: 20%; /* Ändere diese Zahl nach Bedarf für kleine Bildschirme */
  }
}

@media screen and (max-width: 768px) {
  h1[data-text] {
    top: 10%;
    left: 23%;
    font-size: 1.0rem; 
  }
}

@media screen and (max-width: 768px) {

  #home-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .container-video{
    width: 100%;
  }

  p{
    width: 100%;
    height: 100%;
    font-size: 1.0rem;
    margin: 0;
    padding: 0;
  }
  .container-portrait {
    width: 30%; /* Ändere die Breite des Portraits nach Bedarf */
    height: 15%; /* Ändere die Höhe auf 'auto', um das Seitenverhältnis beizubehalten */
    top: 45%; /* Ändere die Position nach Bedarf */
    left: 5%; /* Ändere die Position nach Bedarf */
    z-index: 1;
    position: absolute;
    margin: 0;
    padding: 0;
  }
}